<div class="container-fluid py-4">
  <!-------------------------------------- START OF SINGLE TABLE ---------------------------------------->
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Products table</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">

              <thead>
                <tr>
                  <% const headers = ["Product ID", "Product", "Shop", "MainSubCategory", "Category"]; %> 
                  <% headers.forEach((header,index) => { %>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 sortable-header"
                    data-column-index="<%= index %>"
                    data-sort="asc"
                  >
                    <a href="javascript:void(0)"><%= header %></a>
                  </th>
                  <% }); %>
                </tr>
              </thead>
              <tbody>
                <% alteredProducts.forEach(product => { %>

                <tr>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      <%= product.product_id %>
                    </p>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img
                          src="../assets/img/productImg.jpg"
                          class="avatar avatar-sm me-3"
                          alt="user1"
                        />
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><%= product.name %></h6>
                        <p class="text-xs text-secondary mb-0">
                          <%= product.quantity %>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      <%= product.shopName %>
                    </p>
                    <!-- <p class="text-xs text-secondary mb-0"></p> -->
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success"
                      ><%= product.subcategoryName %></span
                    >
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      ><%= product.categoryName %></span
                    >
                  </td>

                  <td class="align-middle">
                    <a href="/admin/detail/<%= product.product_id %>"
                       class="text-secondary font-weight-bold text-xs"
                       data-toggle="tooltip"
                       data-original-title="Edit product"
                    >
                      Edit
                    </a>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------------- END OF SINGLE TABLE ---------------------------------------->
  <!-------------------------------------- START OF SINGLE TABLE ---------------------------------------->
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>SubCategory table</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">

              <thead>
                <tr>
                  <% const headers2 = ["ID", "SubCategory", "Category", "Updated At"]; %> 
                  <% headers2.forEach((header,index) => { %>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 sortable-header"
                    data-column-index="<%= index %>"
                    data-sort="asc"
                  >
                    <a href="javascript:void(0)"><%= header %></a>
                  </th>
                  <% }); %>
                </tr>
              </thead>
              <tbody>
                <% alteredSubCategories.forEach(subCategory => { %>

                <tr>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      <%= subCategory.main_subcategory_id %>
                    </p>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img
                          src="../assets/img/productImg.jpg"
                          class="avatar avatar-sm me-3"
                          alt="user1"
                        />
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><%= subCategory.name %></h6>
                        <p class="text-xs text-secondary mb-0">
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="badge badge-sm bg-gradient-success"
                    ><%= subCategory.categoryName %></span
                  >
                  </td>
                  <td class="align-middle text-center text-sm">
                    <!-- <span class="badge badge-sm bg-gradient-success"
                      ><%= subCategory.updatedAt %></span
                    > -->
                    <p class="text-xs font-weight-bold mb-0">
                      <%= subCategory.updatedAt %>
                    </p>

                  </td>


                  <td class="align-middle">
                    <a href="/admin/detail/<%= subCategory.main_subcategory_id %>"
                       class="text-secondary font-weight-bold text-xs"
                       data-toggle="tooltip"
                       data-original-title="Edit product"
                    >
                      Edit
                    </a>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------------- END OF SINGLE TABLE ---------------------------------------->



</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".sortable-header").forEach(function (header) {
      header.addEventListener("click", function () {
        var columnIndex = this.getAttribute("data-column-index");
        var table = findParentTable(this);
        sortTable(table, columnIndex);
      });
    });
  });

  function findParentTable(element) {
    while ((element = element.parentElement) && !element.tagName.includes("TABLE")) {}
    return element;
  }

  function sortTable(table, column) {
    var rows = table.rows,
      switching,
      i,
      x,
      y,
      shouldSwitch,
      dir,
      switchcount = 0;

    switching = true;
    dir = "asc";

    while (switching) {
      switching = false;

      for (i = 1; i < rows.length - 1; i++) {
        shouldSwitch = false;

        x = rows[i].getElementsByTagName("td")[column];
        y = rows[i + 1].getElementsByTagName("td")[column];

        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }

      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount++;
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }

    var currentSort = table.querySelector("th[data-sort]");
    currentSort.setAttribute("data-sort", dir);
  }
</script>
